<!DOCTYPE html>
<html>
	<head>
		<title>Pragprog Books Online Store</title>

			<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
		  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		  <%= csrf_meta_tags %>

		</head>

	<body class="<%= controller.controller_name %>">
		<!--<div id="prebanner"></div>-->

<!-- Layerslider Begin -->

    <div class="hidden-xs">
        <div id="layerslider" style="width: 100%; height: 205px; margin: 0px auto; ">
            <div class="ls-layer" style="transition2d:5;">
                <img class="ls-bg" src="http://hdwallpc.com/wp-content/uploads/2013/10/Green-Wallpaper-Picture-Computers.png">

               <!--<img class="ls-s-1" src="img/slides/vinyl.png" alt="iMac" 
                      style="top:15px; left:650px; durationin : 1250; durationout : 1250;">-->

                <div class="ls-s-1 large-caption" 
                     style="top:120px; left:20px; delayin : 750; slidedirection : fade; slideoutdirection : fade;">
                    <div><p></p></div>
                    <div><p></p></div>
                    <div></p></div>
                </div>
            </div>

            <div class="ls-layer" style="transition2d:5;">
                <img class="ls-bg" src="http://images7.alphacoders.com/324/324340.jpg" alt="Slider Background">

                <!--<img  class="ls-s-1" src="img/slides/vinyl.png" alt="iMac" 
                      style="top:50px; left:50px; durationin : 1250; durationout : 1250; delayin : 0;">-->


                <div class="ls-s-1 large-caption" 
                     style="top:130px; left:700px; delayin : 700; slidedirection : fade; slideoutdirection : fade;">
                    <div><p></p></div>
                    <div><p></p></div>
                    <div><p></p></div>
                </div>

            </div>   

             <div class="ls-layer" style="transition2d:5;">
                <img class="ls-bg" src="http://hdwallpc.com/wp-content/uploads/2013/10/Abstract-Yellow-Wallpapers.jpg" alt="Slider Background">

                <!--<img  class="ls-s-1" src="img/slides/vinyl.png" alt="MB Air" 
                      style="top:25px; left:50px; durationin : 1250; durationout : 1250;">-->

                <div class="ls-s-1 large-caption" 
                     style="top:150px; left:750px; delayin : 750; slidedirection : fade; slideoutdirection : fade;">
                    <div><p></p></div>
                    <div><p></p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!- Layer Slider End -->

		<div id="banner">
			<center><%= @page_title || "Rob's online Programming Book Store" %></center>
		</div>
		<div id="columns">
		<div id="side"> 
		<div id="cart">

<!-----------rendering cart + fix ---->

<%if @cart %>
	<%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %> 
		<%= render @cart %>
	<%end%>
<%end%>

		</div>
			<ul>
				<li><button type="button" class="btn_index"><%= link_to 'Home', store_url %> </li></button>
				<li><button type="button" class="btn_index"><%= link_to 'Questions', store_url %></li></button>
				<li><button type="button" class="btn_index"><%= link_to 'News', store_url %></li></button>
				<li><button type="button" class="btn_index"><%= link_to 'Contact', store_url %></li></button>
			</ul>
		</div>
		<div id="main">
			<%= yield %>
    </div>
  </div>
</body>
</html>


























