<!DOCTYPE html>
<html>
	<head>
		<title>Pragprog Books Online Store</title>

			<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
		  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		  <%= csrf_meta_tags %>

		</head>

	<body class="<%= controller.controller_name %>">
		<div id="prebanner"></div>
		<div id="banner">
			<div id="banner_pic"><%= image_tag("http://img.ffffound.com/static-data/assets/6/fe5bc74970f4eed688959ec2248ef6593a86377e_m.png") %></div>
			<center><%= @page_title || "Rob's online Programming Book Store" %></center>
		</div>
		<div id="columns">
		<div id="side"> 
		<div id="cart">

<!-----------rendering cart + fix ---->

<%if @cart %>
	<%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %> 
		<%= render @cart %>
	<%end%>
<%end%>

		</div>
			<ul>
				<li><button type="button" class="btn_index"><%= link_to 'Home', store_url %> </li></button>
				<li><button type="button" class="btn_index"><%= link_to 'Questions', store_url %></li></button>
				<li><button type="button" class="btn_index"><%= link_to 'News', store_url %></li></button>
				<li><button type="button" class="btn_index"><%= link_to 'Contact', store_url %></li></button>
			</ul>
		</div>
		<div id="main">
			<%= yield %>
    </div>
  </div>
</body>
</html>


























