<!DOCTYPE html>
<html>
	<head>
		<title>Pragprog Books Online Store</title>

			<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
		  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		  <%= csrf_meta_tags %>

		</head>

	<body class="<%= controller.controller_name %>">
		<div id="banner">
			<%= image_tag("http://intertwingly.net/projects/AWDwR3/data/images/logo.png?1324774743") %>
			<center><%= @page_title || "Rob's online Programming Book Store" %></center>
		</div>
		<div id="columns">
		<div id="side"> 
		<div id="cart">
		  <%= render @cart %>
		</div>
			<ul>
				<li><button type="button" class="btn_index"><%= link_to 'Home', store_url %> </li></button>
				<li><button type="button" class="btn_index"><%= link_to 'Questions', store_url %></li></button>
				<li><button type="button" class="btn_index"><%= link_to 'News', store_url %></li></button>
				<li><button type="button" class="btn_index"><%= link_to 'Contact', store_url %></li></button>
			</ul>
		</div>
		<div id="main">
			<%= yield %>
    </div>
  </div>
</body>
</html>


























